// Colors
// weather card background
$clr1: #effffb;
// header text
$clr2: #50d890;
// text emphasis
$clr3: #4f98ca;
// header background and main text
$clr4: #272727;

// Breakpoints
// $mobile-breakpoint: 375px;
$mobile-breakpoint: 414px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1110px;